/* #navbarNav{
    align-items:right;
} */

#mimic{
    height: 550px;
}
.about{
    padding-top: 200px;
}
#footer-text{
    padding-top: 150px;
}
hr{
border: none;
    background-color: black;
    font-weight: bolder;
    height: 5px;
    
}
.img-container{
   
      
     overflow: hidden;
}
img{
    transition: transform 0.2s ease-in-out;
}

img:hover{
    border: 1px solid red;
   
    transform: scale(0.90);

}


/* media  */
@media (max-width:400px) { 

    button i{
        
        font-weight: small !important;
        font-size: small !important;
    }
   button.btn{
       width: 100px !important;
       margin: 1px !important   ;
       display: none;

      
    }
    #two{
      
        display: block !important;
    }
    #two p {
       margin-bottom: 5px !important;
       
        display: inline-block !important;
        font-size: small !important;
        justify-content: stretch !important;
    }
    
}